---
import { colors, fontWeights, sizes, typographics } from '../../../lib/styles'

interface Props {
    heavy?: boolean
}

const { heavy } = Astro.props
---
<style define:vars={{
    bodyFontWeight: typographics.body.fontWeight,
    bodyFontSize: typographics.body.fontSize,
    bodyLineHeight: typographics.body.lineHeight,
    colorsEvening: colors.evening,
    sizes125: sizes[1.25],
}}>
    li {
        font-family: var(--ibmPlexSans);
        font-weight: var(--bodyFontWeight);
        font-size: var(--bodyFontSize);
        line-height: var(--bodyLineHeight);
        margin-left: var(--sizes125);
    }

    li > p {
        margin: 0;
    }

    li:before {
        color: var(--colorsEvening);
        content: "»";
        left: 0;
        position: absolute;
    }
</style>
<li style={{ ...(heavy ? { fontWeight: fontWeights.black } : {}) }}>
    <slot />
</li>

