---
/* eslint-disable astro/no-unused-css-selector */
import type { Image } from '../../types/contentful'

import { Picture } from 'astro:assets' /* eslint-disable-line import/no-unresolved */

import { sizes } from '../../lib/styles'
import BackgroundImage from './images/BackgroundImage.astro'

interface Props {
    backgroundImage?: Image
    image?: Image
}

const { backgroundImage, image } = Astro.props
---

<style define:vars={{ sizes5Negative: `-${sizes[5]}`, sizes8Negative: `-${sizes[8]}` }}>
    .container {
        display: flex;
        flex: 1;
        overflow: hidden;
        position: relative;
        margin-top: calc(100dvh - 562px);
    }

    .image {
        margin-left: var(--sizes8Negative);
    }

    @media (min-width: 1200px) {
        .container {
            overflow: visible;
            width: 50%;
            margin-top: 0;
        }

        .image {
            bottom: 0;
            position: absolute;
            right: var(--sizes5Negative);
            margin-top: auto;
        }
    }
</style>
<div class="container">
    <BackgroundImage image={backgroundImage} />
    {
        image?.fields?.file?.url && (
            <Picture
                alt={image.fields.description ?? null}
                class="image"
                fit="cover"
                formats={['avif', 'webp']}
                height="562"
                layout="constrained"
                priority
                sizes="50vw"
                src={`https:${image.fields.file.url}`}
                width="560"
                widths={[560, 768, 992, 1280, 2560]}
            />
        )
    }
</div>
