---
import LI from '../../../LI.astro'
import UL from '../../../UL.astro'

interface Props {
    items: string[]
}

const { items } = Astro.props
---

<UL style={`margin-top: 0.25rem`}>
    {items.map((item) => <LI>{item}</LI>)}
</UL>
