---
import { getImageSrcset } from '../../../lib/images'
import { colors } from '../../../lib/styles'

interface Props {
    image?: string
}

const { image } = Astro.props
const img = image ? getImageSrcset(image, 'background', [960, 1920]) : undefined
---

<style define:vars={{ colorsEvening70: colors.evening70 }}>
    div {
        display: none;
    }

    @media (min-width: 1200px) {
        div {
            display: flex;
            height: 100%;
            overflow: hidden;
            position: absolute;
            width: 100%;
        }

        div:after {
            background-image: linear-gradient(var(--colorsEvening70), var(--colorsEvening70));
            bottom: 0;
            content: '';
            height: 100%;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }
</style>
<>
    {
        img && (
            <div>
                <img
                    alt=""
                    fetchpriority="high"
                    sizes="100vw"
                    src={img.src}
                    srcset={img.srcset}
                    width={img.width}
                    height={img.height}
                    style="width:100%;height:100%;object-fit:cover;"
                />
            </div>
        )
    }
</>
