---
import type { Image as ContentfulImage } from '../../../types/contentful'

import { Image, Source } from '@unpic/astro' // eslint-disable-line import/no-unresolved

import { colors } from '../../../lib/styles'

interface Props {
    image?: ContentfulImage
}

const { image } = Astro.props

const sharedProps = {
    operations: { contentful: { q: 60 } },
    src: `https:${image?.fields?.file?.url}`,
}
---

<style define:vars={{ colorsEvening70: colors.evening70 }}>
    div {
        display: none;
    }

    @media (min-width: 1200px) {
        div {
            display: flex;
            height: 100%;
            overflow: hidden;
            position: absolute;
            width: 100%;
        }

        div:after {
            background-image: linear-gradient(var(--colorsEvening70), var(--colorsEvening70));
            bottom: 0;
            content: '';
            height: 100%;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }
</style>
<>
    {
        image?.fields?.file?.url && (
            <div>
                <picture>
                    <Source {...sharedProps} type="image/avif" />
                    <Source {...sharedProps} type="image/webp" />
                    <Image {...sharedProps} alt="" height={660} layout="fullWidth" priority />
                </picture>
            </div>
        )
    }
</>
