---
import type { ImageMetadata } from 'astro'

import { Image, Source } from '@unpic/astro' // eslint-disable-line import/no-unresolved

import { colors } from '../../../lib/styles'

interface Props {
    image?: string
}

const { image } = Astro.props

const allLocalImages = import.meta.glob<ImageMetadata>('../../../images/**/*.{jpg,png}', {
    eager: true,
    import: 'default',
})
const resolvedLocalImage = image ? allLocalImages[`../../../images/${image}`] : null
---

<style define:vars={{ colorsEvening70: colors.evening70 }}>
    div {
        display: none;
    }

    @media (min-width: 1200px) {
        div {
            display: flex;
            height: 100%;
            overflow: hidden;
            position: absolute;
            width: 100%;
        }

        div:after {
            background-image: linear-gradient(var(--colorsEvening70), var(--colorsEvening70));
            bottom: 0;
            content: '';
            height: 100%;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }
</style>
<>
    {
        resolvedLocalImage && (
            <div>
                <picture>
                    <Source height={660} layout="fullWidth" src={resolvedLocalImage} type="image/avif" />
                    <Source height={660} layout="fullWidth" src={resolvedLocalImage} type="image/webp" />
                    <Image alt="" height={660} layout="fullWidth" priority src={resolvedLocalImage} />
                </picture>
            </div>
        )
    }
</>
