---
import { CONTENT_PADDING, CONTENT_SIZE, sizes } from '../../lib/styles'
import NavigationLink from './components/NavigationLink.astro'
import MainNavigationLink from './components/MainNavigationLink.astro'
import type { Page } from '../../types/contentful'

interface Props {
    links: Page[]
}

const { links } = Astro.props

const sharedHalfStyles = {
    alignItems: 'center',
    display: 'flex',
    gap: sizes[2.5],
    width: '50%',
}
---
<style define:vars={{ contentPadding: CONTENT_PADDING, contentSize: CONTENT_SIZE }}>
    .container {
        display: none;
        flex-direction: row;
        margin: auto;
        padding-left: var(--contentPadding);
        padding-right: var(--contentPadding);
        width: var(--contentSize);
        
        @media (min-width: 1200px) {
            display: flex;
        }
    }
</style>
<div class="container">
    <div style={{ ...sharedHalfStyles, justifyContent: 'flex-start' }}>
        <MainNavigationLink />
    </div>
    <div style={{ ...sharedHalfStyles, justifyContent: 'flex-end' }}>
        {links.map((link) => (
            <NavigationLink slug={link.fields.slug} title={link.fields.title} navigationTitle={link.fields.navigationTitle} />
        ))}
    </div>
</div>
