---
/* eslint-disable astro/no-unused-css-selector */
import type { Page } from '../../types/contentful'

import { colors, CONTENT_PADDING, CONTENT_SIZE, HEADER_SIZE, sizes } from '../../lib/styles'
import MainNavigationLink from './components/MainNavigationLink.astro'
import NavigationLink from './components/NavigationLink.astro'

interface Props {
    links: Page[]
}

const { links } = Astro.props
---

<style
    define:vars={{
        colorsEvening: colors.evening,
        colorsPeach: colors.peach,
        contentPadding: CONTENT_PADDING,
        contentSize: CONTENT_SIZE,
        headerSize: HEADER_SIZE,
        sizes05: sizes[0.5],
        sizes025: sizes[0.25],
        sizes3: sizes[3],
        sizes25: sizes[2.5],
    }}
>
    .container {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: var(--contentPadding);
        margin-right: var(--contentPadding);
        width: var(--contentSize);
    }

    .container > div {
        align-items: center;
        display: flex;
        gap: var(--sizes25);
        width: 50%;
        justify-content: flex-start;
    }

    .container > div ~ div {
        justify-content: flex-end;
    }

    input[type='checkbox'] {
        position: absolute;
        display: block;
        height: var(--sizes3);
        width: var(--sizes3);
        right: var(--sizes05);
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .hamburger-lines-container {
        height: var(--sizes25);
        width: var(--sizes3);
        right: var(--sizes05);
        padding-top: var(--sizes025);
        padding-bottom: var(--sizes025);
        position: absolute;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .line1,
    .line2,
    .line3 {
        display: block;
        height: var(--sizes025);
        width: 100%;
        border-radius: 10px;
        background: var(--colorsPeach);
        transition: transform 0.25s ease-in-out;
    }

    .line1 {
        transform-origin: 0% 0%;
    }

    .line2 {
        transition: transform 0.1s ease-in-out;
    }

    .line3 {
        transform-origin: 0% 100%;
    }

    .links {
        align-items: center;
        background: linear-gradient(
            90deg,
            rgba(0, 0, 0, 0.3) 0%,
            rgba(0, 0, 0, 0.15) 25%,
            rgba(255, 255, 255, 0) 50%,
            rgba(255, 255, 255, 0) 100%
        );
        background-color: var(--colorsEvening);
        display: flex;
        flex-direction: column;
        gap: var(--sizes25);
        justify-content: center;
        left: 0;
        overflow: hidden;
        position: absolute;
        top: var(--headerSize);
        transition: height 0.3s ease-in-out;
        width: 100vw;
        height: 0;
    }

    .links a {
        transition: opacity 0.3s ease-in-out;
        opacity: 0;
    }

    .container input[type='checkbox']:checked ~ div > .line1 {
        transform: rotate(45deg);
    }

    .container input[type='checkbox']:checked ~ div > .line2 {
        transform: scaleY(0);
    }

    .container input[type='checkbox']:checked ~ div > .line3 {
        transform: rotate(-45deg);
    }

    .container input[type='checkbox']:checked ~ .links {
        height: calc(100dvh - var(--headerSize));
    }

    .container input[type='checkbox']:checked ~ .links a {
        opacity: 100%;
    }

    @media (min-width: 1200px) {
        .container,
        .links {
            display: none;
        }
    }

    @media (prefers-reduced-motion) {
        .links,
        .links a {
            transition: none;
        }
    }
</style>
<div class="container">
    <div>
        <MainNavigationLink />
    </div>
    <div>
        <input id="mobile-hamburger" name="" type="checkbox" />
        <div class="hamburger-lines-container">
            <span class="line1"></span>
            <span class="line2"></span>
            <span class="line3"></span>
        </div>
        <div class="links">
            {
                links.map((link) => (
                    <NavigationLink
                        navigationTitle={link.fields.navigationTitle}
                        slug={link.fields.slug}
                        title={link.fields.title}
                    />
                ))
            }
        </div>
    </div>
</div>
