---
import type { AuthorEntry } from '../content/person'

import { buildBylineText } from '../lib/byline'

interface Props {
    authors: AuthorEntry[]
    lang: 'en' | 'fi' | 'sv'
}

const { authors, lang } = Astro.props
const text = buildBylineText(authors, lang)
---

<style>
    p {
        grid-column-start: 3;
        margin-block: 0;
    }
</style>
{
    text && (
        <p>
            <em>{text}</em>
        </p>
    )
}
