---
import { colors, sizes } from '../lib/styles'

const { href, rel } = Astro.props
---
<a
    href={href}
    rel={`${rel ? rel : ''} noopener noreferrer`}
    style={{ color: colors.moss, textDecoration: 'underline', textDecorationThickness: sizes[0.125] }}
    target="_blank"
>
    <slot />
</a>

