---
import { sizes, typographics } from '../lib/styles'

interface Props {
    itemProp?: string
}

const { itemProp } = Astro.props
---

<style
    define:vars={{
        h2FontFamily: typographics.h2.fontFamily,
        h2FontSize: typographics.h2.fontSize,
        h2FontWeight: typographics.h2.fontWeight,
        h2LineHeight: typographics.h2.lineHeight,
        sizes1: sizes[1],
    }}
>
    h2 {
        font-family: var(--h2FontFamily);
        font-weight: var(--h2FontWeight);
        font-size: var(--h2FontSize);
        line-height: var(--h2LineHeight);
        grid-column-start: 3;
        margin-top: var(--sizes1);
    }
</style>
<h2 itemprop={itemProp}>
    <slot />
</h2>
