---
import { sizes, typographics } from '../lib/styles'

const { itemProp } = Astro.props
---
<h2
    style={{
        ...typographics.h2,
        gridColumnStart: 3,
        marginTop: sizes[1],
    }}
    itemprop={itemProp}
>
    <slot />
</h2>
