---
import { colors, fontWeights, sizes, typographics } from '../lib/styles'

interface Props {
    heavy?: boolean
}

const { heavy } = Astro.props
---

<style
    define:vars={{
        bodyFontSize: typographics.body.fontSize,
        bodyFontWeight: typographics.body.fontWeight,
        bodyLineHeight: typographics.body.lineHeight,
        colorsEvening: colors.evening,
        sizes05: sizes[0.5],
        sizes125: sizes[1.25],
    }}
>
    li {
        font-family: var(--ibmPlexSans);
        font-weight: var(--bodyFontWeight);
        font-size: var(--bodyFontSize);
        line-height: var(--bodyLineHeight);
        margin-left: var(--sizes125);
    }

    li:not(:first-child) {
        margin-top: var(--sizes05);
    }

    li:before {
        color: var(--colorsEvening);
        content: '»';
        left: 0;
        position: absolute;
    }
</style>
<li style={{ ...(heavy ? { fontWeight: fontWeights.black } : {}) }}>
    <slot />
</li>
