---
import { colors, sizes } from '../lib/styles'

interface Props {
    href: string
    rel?: string
}

const { href, rel } = Astro.props
---

<style define:vars={{ colorsMoss: colors.moss, sizes0125: sizes[0.125] }}>
    a {
        color: var(--colorsMoss);
        text-decoration: underline;
        text-decoration-thickness: var(--sizes0125);
    }
</style>
<a href={href} rel={`${rel ? rel : ''}`}>
    <slot />
</a>
