---
import { sizes, typographics } from "../lib/styles"

interface Props {
    inGrid?: boolean
    itemProp?: string
    smallMarginTop?: boolean
    noMargins?: boolean
}

const { inGrid, itemProp, smallMarginTop, noMargins } = Astro.props
---
<style define:vars={{
    marginBottom: noMargins ? 0 : sizes[1],
    marginTop: noMargins ? 0 : smallMarginTop ? sizes[0.25] : sizes[1],
    bodyFontWeight: typographics.body.fontWeight,
    bodyFontSize: typographics.body.fontSize,
    bodyLineHeight: typographics.body.lineHeight,
}}>
    p {
        margin-bottom: var(--marginBottom);
        margin-top: var(--marginTop);
        font-family: var(--ibmPlexSans);
        font-weight: var(--bodyFontWeight);
        font-size: var(--bodyFontSize);
        line-height: var(--bodyLineHeight);
    }

    li > p {
        margin-bottom: 0;
        margin-top: 0;
    }
</style>
<p style={{ ...(inGrid ? { gridColumnStart: 3 } : {}) }} itemprop={itemProp}>
    <slot />
</p>
