---
interface Props {
    inGrid?: boolean
    itemProp?: string
}

const { inGrid = true, itemProp } = Astro.props
---

<style>
    p {
        margin-block: 0;
    }
</style>
<p itemprop={itemProp} style={{ ...(inGrid ? { gridColumnStart: 3 } : {}) }}>
    <slot />
</p>
