---
import { sizes, typographics } from "../lib/styles"

const { inGrid } = Astro.props
---
<p style={{
    ...typographics.body,
    ...(inGrid ? { gridColumnStart: 3 } : {}),
    marginBottom: sizes[1],
    marginTop: sizes[1],
}}>
    <slot />
</p>
