---
/* eslint-disable astro/no-unused-css-selector */
import { sizes, typographics } from '../lib/styles'

interface Props {
    inGrid?: boolean
    itemProp?: string
    noMargins?: boolean
    smallMarginTop?: boolean
}

const { inGrid, itemProp, smallMarginTop, noMargins } = Astro.props
---

<style
    define:vars={{
        bodyFontSize: typographics.body.fontSize,
        bodyFontWeight: typographics.body.fontWeight,
        bodyLineHeight: typographics.body.lineHeight,
        marginBottom: noMargins ? 0 : sizes[1],
        marginTop: noMargins ? 0 : smallMarginTop ? sizes[0.25] : sizes[1],
    }}
>
    p {
        margin-bottom: var(--marginBottom);
        margin-top: var(--marginTop);
        font-family: var(--ibmPlexSans);
        font-weight: var(--bodyFontWeight);
        font-size: var(--bodyFontSize);
        line-height: var(--bodyLineHeight);
    }

    li > p {
        margin-bottom: 0;
        margin-top: 0;
    }
</style>
<p itemprop={itemProp} style={{ ...(inGrid ? { gridColumnStart: 3 } : {}) }}>
    <slot />
</p>
