---
import { typographics } from '../lib/styles'

interface Props {
    inGrid?: boolean
    itemProp?: string
}

const { inGrid = true, itemProp } = Astro.props
---

<style
    define:vars={{
        bodyFontFamily: typographics.body.fontFamily,
        bodyFontSize: typographics.body.fontSize,
        bodyFontWeight: typographics.body.fontWeight,
        bodyLineHeight: typographics.body.lineHeight,
    }}
>
    p {
        font-family: var(--bodyFontFamily);
        font-size: var(--bodyFontSize);
        font-weight: var(--bodyFontWeight);
        line-height: var(--bodyLineHeight);
        margin-block: 0;
    }
</style>
<p itemprop={itemProp} style={{ ...(inGrid ? { gridColumnStart: 3 } : {}) }}>
    <slot />
</p>
