---
import { sizes, typographics } from "../lib/styles"

interface Props {
    inGrid?: boolean
    smallMarginTop?: boolean
    itemProp?: string
}

const { inGrid, itemProp, smallMarginTop } = Astro.props
---
<style define:vars={{
    sizes1: sizes[1],
    marginTop: smallMarginTop ? sizes[0.25] : sizes[1],
    bodyFontWeight: typographics.body.fontWeight,
    bodyFontSize: typographics.body.fontSize,
    bodyLineHeight: typographics.body.lineHeight,
}}>
    p {
        margin-bottom: var(--sizes1);
        margin-top: var(--marginTop);
        font-family: var(--ibmPlexSans);
        font-weight: var(--bodyFontWeight);
        font-size: var(--bodyFontSize);
        line-height: var(--bodyLineHeight);
    }
</style>
<p style={{ ...(inGrid ? { gridColumnStart: 3 } : {}) }} itemprop={itemProp}>
    <slot />
</p>
