---
import { colors, fontFamilies, fontWeights } from '../lib/styles'

interface Props {
    href: string
    label: string
}

const { href, label } = Astro.props
---

<style
    define:vars={{
        colorsBlack: colors.black,
        colorsEvening: colors.evening,
        colorsSky: colors.sky,
        colorsWhite: colors.white,
        fontFamilyMono: fontFamilies.mono,
        fontWeightMedium: fontWeights.medium,
    }}
>
    a {
        align-items: center;
        background-color: var(--colorsSky);
        border: 1px solid var(--colorsEvening);
        border-radius: 0.375rem;
        color: var(--colorsBlack);
        display: inline-flex;
        font-family: var(--fontFamilyMono);
        font-size: 0.75rem;
        font-weight: var(--fontWeightMedium);
        height: 1.5rem;
        line-height: 1;
        padding: 0 0.5rem;
        text-decoration: none;
    }

    a:hover {
        background-color: var(--colorsEvening);
        color: var(--colorsWhite);
    }
</style>
<a href={href}>{label}</a>
