---
import type { Lang } from '../../../content/nav'

import { colors, sizes } from '../../../lib/styles'
import NameLogo from '../../NameLogo.astro'

interface Props {
    lang?: Lang
}

const { lang = 'fi' } = Astro.props
const { pathname } = Astro.url
const href = `/${lang}/`
---

<style
    define:vars={{
        colorsWhite: colors.white,
        sizes01875: sizes[0.1875],
        sizes5: sizes[5],
    }}
>
    a {
        align-items: center;
        display: flex;
        min-height: var(--sizes5);
        position: relative;
        overflow: hidden;
    }

    a::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: var(--sizes01875);
        opacity: 1;
        transform: translate3d(-100%, 0, 0);
        background-color: var(--colorsWhite);
    }

    @media (prefers-reduced-motion: no-preference) {
        a::after {
            transition: transform 200ms ease-in-out;
        }
    }

    a:hover::after,
    a:focus::after {
        transform: translate3d(0, 0, 0);
    }

    a:focus-visible {
        outline: var(--sizes01875) solid var(--colorsWhite);
        outline-offset: 2px;
    }

    a[aria-current='page']:hover::after,
    a[aria-current='page']:focus::after {
        transform: translate3d(-100%, 0, 0);
    }
</style>
<a aria-current={pathname === href ? 'page' : 'false'} href={href}>
    <NameLogo size="small" />
</a>
