---
/* eslint-disable astro/no-unused-css-selector */
import { Icon } from 'astro-icon/components'

import { colors, sizes } from '../../lib/styles'

interface Props {
    icon?: string
    title: string
    url: string
}

const { title, icon, url } = Astro.props

const iconToHoverColor = (icon?: string): string | undefined => {
    if (icon === 'bluesky') {
        return colors.bluesky
    }
    if (icon === 'facebook') {
        return colors.facebook
    }
    if (icon === 'instagram') {
        return colors.instagramGradient
    }
    if (icon === 'linkedin') {
        return colors.linkedin
    }
    if (icon === 'mastodon') {
        return colors.mastodon
    }
    if (icon === 'threads') {
        return colors.threads
    }
    if (icon === 'tiktok') {
        return undefined
    }
}

const hoverColor = iconToHoverColor(icon)
---

<style
    define:vars={{
        colorsGray: colors.gray,
        hoverColor,
        sizes0: sizes[0],
        sizes175: sizes[1.75],
        sizes225: sizes[2.25],
    }}
>
    li {
        padding: var(--sizes0);
    }

    li a {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
    }

    li svg {
        color: var(--colorsGray);
        height: var(--sizes175);
        width: var(--sizes175);
        stroke: currentColor;
        fill: currentColor;
    }

    li svg:hover,
    li svg:focus {
        color: var(--hoverColor);
    }

    @media (min-width: 1200px) {
        li svg {
            height: var(--sizes225);
            width: var(--sizes225);
        }
    }
</style>
<li>
    <a aria-label={title} href={url} rel="me noopener noreferrer" target="_blank" title={title}>
        {icon && <Icon name={`fa7-brands:${icon}`} />}
    </a>
</li>
