---

import { colors, fontSizes, typographics } from '../../../lib/styles'
---
    <a
    href="/"
    title="Lauri Lavanti"
    style={{ ...typographics.h1, ...fontSizes[1.75], color: colors.peach }}
    >Lauri Lavanti
</a>
