---
import { getImageSrcset } from '../../lib/images'

interface Props {
    alt?: string
    heroImage?: string
}

const { alt, heroImage } = Astro.props
const img = heroImage ? getImageSrcset(heroImage, '1x1', [560, 1120, 1680]) : undefined
---

<style>
    .image-container {
        display: flex;
        max-height: min(100vw, 35rem);
        overflow: hidden;
        position: relative;
    }

    .image-container :global(img) {
        aspect-ratio: 1;
        object-fit: cover;
        width: 100%;
    }

    @media (min-width: 1200px) {
        .image-container {
            width: 50%;
        }
    }
</style>
<div class="image-container">
    {
        img && (
            <img
                alt={alt ?? ''}
                fetchpriority="high"
                height={img.height}
                sizes="(max-width: 1199px) 100vw, 50vw"
                src={img.src}
                srcset={img.srcset}
                width={img.width}
            />
        )
    }
</div>
