---
/* eslint-disable astro/no-unused-css-selector */
import type { Image } from '../../types/contentful'

import { Picture } from 'astro:assets' /* eslint-disable-line import/no-unresolved */

interface Props {
    heroImage?: Image
}

const { heroImage } = Astro.props
---

<style>
    .image-container {
        display: flex;
        overflow: hidden;
        position: relative;
        aspect-ratio: 7 / 6;
    }

    img {
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @media (min-width: 1200px) {
        .content .image-container {
            width: 50%;
        }
    }
</style>
<div class="image-container">
    {
        heroImage?.fields?.file?.url && (
            <Picture
                alt={heroImage.fields.description ?? null}
                fit="cover"
                formats={['avif', 'webp']}
                height="588"
                layout="full-width"
                priority
                sizes="(max-width: 1200px) 100vw, 50vw"
                src={`https:${heroImage.fields.file.url}`}
                width="768"
                widths={[360, 576, 768, 992, 1200, 1280, 2560]}
            />
        )
    }
</div>
