---
import type { Image as ContentfulImage } from '../../types/contentful'

import { Image } from '@unpic/astro' /* eslint-disable-line import/no-unresolved */

interface Props {
    heroImage?: ContentfulImage
}

const { heroImage } = Astro.props
---

<style>
    .image-container {
        display: flex;
        overflow: hidden;
        position: relative;
        aspect-ratio: 7 / 6;
    }

    @media (min-width: 1200px) {
        .image-container {
            width: 50%;
        }
    }
</style>
<div class="image-container">
    {
        heroImage?.fields?.file?.url && (
            <Image
                alt={heroImage.fields.description ?? null}
                layout="fullWidth"
                priority
                src={`https:${heroImage.fields.file.url}`}
            />
        )
    }
</div>
