---
import { Image } from 'astro:assets'

import { getImage } from '../../lib/images'

interface Props {
    alt?: string
    heroImage?: string
}

const { alt, heroImage } = Astro.props
const img = heroImage ? await getImage(heroImage, '1x1') : undefined
---

<style>
    .image-container {
        display: flex;
        overflow: hidden;
        position: relative;
    }

    .image-container :global(img) {
        aspect-ratio: 1;
        object-fit: cover;
        width: 100%;
    }

    @media (min-width: 1200px) {
        .image-container {
            width: 50%;
        }
    }
</style>
<div class="image-container">
    {
        img && (
            <Image
                alt={alt ?? ''}
                fetchpriority="high"
                sizes="(max-width: 1199px) 100vw, 50vw"
                src={img}
                style="width:100%;height:auto;"
                widths={[560, 1120, 1680]}
            />
        )
    }
</div>
