---
/* eslint-disable astro/no-unused-css-selector */
import type { Image as ContentfulImage } from '../../types/contentful'

import { Image as UnpicImage, Source } from '@unpic/astro' /* eslint-disable-line import/no-unresolved */

interface Props {
    croppedHeroImage?: ContentfulImage
    heroImage?: ContentfulImage
}

const { croppedHeroImage, heroImage } = Astro.props

const sharedProps = {
    operations: { contentful: { f: 'face' as const, q: 80 } },
}

const sharedDesktopProps = {
    ...sharedProps,
    src: `https:${heroImage?.fields?.file?.url}`,
}

const sharedMobileProps = {
    ...sharedProps,
    src: `https:${croppedHeroImage?.fields?.file?.url}`,
}
---

<style>
    .image-container {
        display: flex;
        overflow: hidden;
        position: relative;
    }

    img {
        aspect-ratio: 1.3333333333;
        object-fit: cover;
        width: 100%;
    }

    @media (min-width: 1200px) {
        .image-container {
            width: 50%;
        }

        img {
            aspect-ratio: 1;
        }
    }
</style>
<div class="image-container">
    {
        heroImage?.fields?.file?.url && (
            <picture>
                <Source {...sharedMobileProps} layout="fullWidth" media="(max-width: 1200px)" type="image/avif" />
                <Source {...sharedMobileProps} layout="fullWidth" media="(max-width: 1200px)" type="image/webp" />
                <Source {...sharedMobileProps} layout="fullWidth" media="(max-width: 1200px)" />
                <Source {...sharedDesktopProps} layout="fullWidth" media="(min-width: 1200px)" type="image/avif" />
                <Source {...sharedDesktopProps} layout="fullWidth" media="(min-width: 1200px)" type="image/webp" />
                <Source {...sharedDesktopProps} layout="fullWidth" media="(min-width: 1200px)" />
                <UnpicImage {...sharedDesktopProps} alt={heroImage.fields.description ?? null} priority unstyled />
            </picture>
        )
    }
</div>
