---
import { CldImage } from 'astro-cloudinary' // eslint-disable-line import/named

interface Props {
    alt?: string
    heroImage?: string
}

const { alt, heroImage } = Astro.props
---

<style>
    .image-container {
        display: flex;
        overflow: hidden;
        position: relative;
    }

    .image-container :global(img) {
        aspect-ratio: 1.3333333333;
        object-fit: cover;
        width: 100%;
    }

    @media (min-width: 1200px) {
        .image-container {
            width: 50%;
        }

        .image-container :global(img) {
            aspect-ratio: 1;
        }
    }
</style>
<div class="image-container">
    {
        heroImage && (
            <CldImage
                alt={alt ?? ''}
                crop={{ gravity: 'face', source: true, type: 'fill' }}
                fetchpriority="high"
                layout="fullWidth"
                src={heroImage}
                unstyled
            />
        )
    }
</div>
