---
import GlobalStyle from '../components/GlobalStyle.astro'
import Seo from '../components/Seo.astro'

import {
    gridTemplateAreasLayout,
    gridTemplateColumns,
    gridTemplateRowsLayoutMobile,
    breakpoints,
    gridTemplateRowsLayout,
    colors,
    gridTemplateColumnsArticle,
    gridAreas,
} from '../lib/styles'

const { title } = Astro.props
---

<html lang="fi">
    <head>
        <GlobalStyle />
        <Seo title={title} />
    </head>
    <body>
        <div
            style={{
                display: 'grid',
                gridTemplateAreas: gridTemplateAreasLayout,
                gridTemplateColumns: gridTemplateColumns,
                gridTemplateRows: gridTemplateRowsLayoutMobile,
                minHeight: '100dvh',
                position: 'relative',
                [breakpoints[1200].min]: {
                    gridTemplateRows: gridTemplateRowsLayout,
                },
            }}
        >
            <main style={{ backgroundColor: colors.white, gridArea: gridAreas.main }}>
                <article style={{ display: 'grid', gridTemplateColumns: gridTemplateColumnsArticle }}>
                    <slot />
                </article>
            </main>
        </div>
    </body>
</html>
