---
import GlobalStyle from '../components/GlobalStyle.astro'
import Seo from '../components/Seo.astro'
import Footer from '../components/Footer.astro'

import {
    gridTemplateColumns,
    gridTemplateRowsLayoutMobile,
    gridTemplateRowsLayout,
    colors,
    gridTemplateColumnsArticle,
    gridAreas,
} from '../lib/styles'

const { title } = Astro.props
---

<html lang="fi">
    <head>
        <GlobalStyle />
        <Seo title={title} />
    </head>
    <body>
        <style define:vars={{ gridTemplateColumns, gridTemplateRowsLayoutMobile, gridTemplateRowsLayout }}>
            body > div {
                display: grid;
                grid-template-areas:
                    'main'
                    'footer';
                grid-template-columns: var(--gridTemplateColumns);
                grid-template-rows: var(--gridTemplateRowsLayoutMobile);
                min-height: 100dvh;
                position: relative;
                @media (min-width: 1200px) {
                    grid-template-rows: var(--gridTemplateRowsLayout);
                }
            }
        </style>
        <div>
            <main style={{ backgroundColor: colors.white, gridArea: gridAreas.main }}>
                <article style={{ display: 'grid', gridTemplateColumns: gridTemplateColumnsArticle }}>
                    <slot />
                </article>
            </main>
            <Footer />
        </div>
    </body>
</html>
