---
/* eslint-disable astro/no-unused-css-selector */
import { CldImage } from 'astro-cloudinary' // eslint-disable-line import/named

import { sizes } from '../../../lib/styles'
import H2 from '../../H2.astro'

interface Props {
    alt?: string
    image?: string
    slug?: string
    title: string
}

const { alt, image, slug, title } = Astro.props
---

<style define:vars={{ sizes025: sizes[0.25], sizes01875: sizes[0.1875] }}>
    a {
        color: black;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
        text-decoration-thickness: var(--sizes01875);
    }

    .excerpt-image {
        max-height: 315px;
        max-width: 560px;
        height: 100%;
        width: 100%;
    }

    a div {
        align-items: flex-end;
        display: flex;
        margin-top: var(--sizes025);
        position: relative;
        width: 100%;
    }

    h2 {
        grid-column-start: auto;
    }
</style>
<a href={`/${slug}/`} rel="permalink">
    {
        image && (
            <CldImage
                alt={alt ?? ''}
                class="excerpt-image"
                crop={{ aspectRatio: '1.91:1', gravity: 'face', source: true, type: 'fill' }}
                height={293}
                layout="constrained"
                src={image}
                width={560}
            />
        )
    }
    <div>
        <H2 itemProp="headline">{title}</H2>
    </div>
</a>
