---
/* eslint-disable astro/no-unused-css-selector */
import type { Image as ContentfulImage } from '../../../types/contentful'

import { Image, Source } from '@unpic/astro' /* eslint-disable-line import/no-unresolved */

import { sizes } from '../../../lib/styles'
import H2 from '../../H2.astro'

interface Props {
    image?: ContentfulImage
    slug?: string
    title: string
}

const { title, slug, image } = Astro.props

const sharedProps = {
    height: 315,
    operations: { contentful: { f: 'face' as const, q: 80 } },
    src: `https:${image?.fields?.file?.url}`,
    width: 560,
}
---

<style define:vars={{ sizes025: sizes[0.25], sizes01875: sizes[0.1875] }}>
    a {
        color: black;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
        text-decoration-thickness: var(--sizes01875);
    }

    .excerpt-image {
        max-height: 315px;
        max-width: 560px;
        height: 100%;
        width: 100%;
    }

    a div {
        align-items: flex-end;
        display: flex;
        margin-top: var(--sizes025);
        position: relative;
        width: 100%;
    }

    h2 {
        grid-column-start: auto;
    }
</style>
<a href={`/${slug}/`} rel="permalink">
    {
        image && (
            <picture>
                <Source {...sharedProps} type="image/avif" />
                <Source {...sharedProps} type="image/webp" />
                <Image alt={image.fields.description ?? null} class="excerpt-image" {...sharedProps} />
            </picture>
        )
    }
    <div>
        <H2 itemProp="headline">{title}</H2>
    </div>
</a>
