---
import { colors } from '../../../lib/styles'
import Paragraph from '../../Paragraph.astro'

interface Props {
    excerpt?: string
    slug?: string
}

const { excerpt, slug } = Astro.props
---

<style define:vars={{ colorsMoss: colors.moss }}>
    a {
        color: var(--colorsMoss);
        text-decoration: none;
        white-space: nowrap;
    }
</style>

<Paragraph itemProp="description" smallMarginTop>
    {excerpt}{' '}
    <a href={`/${slug}/`} rel="permalink"> Lue lisää » </a>
</Paragraph>
